.parent {
    height: 100%;
    width: 100%;
}

.parent main {
    display: flex;
    /*height: calc(100vh - var(--title-bar-height));*/
}



.private-messages {
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*gap: 6px;*/
    /*padding: 8px;*/
    /*overflow-y: auto;*/
}

.content {
    /*border-top-left-radius: 8px;*/
    /*width: calc(100vw -var(--left-navigation-width));*/
    /*height: calc(100vh - var(--title-bar-height));*/
    /*background: var(--black-300);*/
    width: 100%;
    height: 100vh;
    color: white;
}


.leftNavWrapper {
    width: var(--left-navigation-width);
}

.leftNavWrapper::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.leftNavWrapper::-webkit-scrollbar-thumb {
    background: transparent;
}

.leftNavWrapper::-webkit-scrollbar-track {
    background: transparent;
}