/* LeftNavigation.module.css */

.leftNavigation {
    background: transparent;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;
    width: var(--left-navigation-width);
    user-select: none;
    align-items: center;
    z-index: 999;
    max-height: calc(100% - 16px);
    overflow-y: auto;
    position: relative;
}

.leftNavigation::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.leftNavigation::-webkit-scrollbar-thumb {
    background: transparent;
}

.leftNavigation::-webkit-scrollbar-track {
    background: transparent;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.listItemIcon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 25px;
    transition: all 0.3s;
    align-items: stretch;
    cursor: pointer;
}

.privateMessages .listItemIcon {
    align-items: center;
}

.listItemIcon .listItemIconName {
    position: absolute;
    top: 50%;
    left: 40px; /* Ajustez la position horizontale selon vos besoins */
    transform: translateY(-50%);
    background: var(--black-100);
    color: #cecece;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s;
    display: none;
    z-index: 9999;
}

.listItemIcon:hover .listItemIconName {
    display: block;
    opacity: 1;
    transition: opacity 0.3s;
    position: absolute;
}


.listItemIcon:hover,
.listItemIcon:hover > img {
    border-radius: 16px;
    transition: all 0.3s;
}

.listItemIcon > img {
    border-radius: 50%;
    transition: all 0.3s;
    height: 48px;
    width: 48px;
}

.privateMessages img {
    height: 26px !important;
    width: 26px !important;
    object-fit: contain;
}

.listItemSep {
    margin: 0 auto 6px;
    width: 66%;
    border-bottom: solid var(--grey-200) 2px;
}

.privateMessagesActive {
    background: #5764f0;
}

.listItemGroup {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: fit-content;
    place-self: center;
    background: var(--grey-300);
    border-radius: 50px;
}

.listItemGroup .listItem:last-child img {
    margin-top: 2px;
}

.listItemGroupTitle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
}

.listItemGroupTitle svg {
    height: 24px;
    width: 24px;
    fill: var(--grey-000);
    transition: all 0.3s;
}

.listItemGroupTitle .listItemGroupTitleName {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
    position: fixed;
    z-index: 1000;
}

.listItemGroupTitle:hover .listItemGroupTitleName {
    display: block;
    opacity: 1;
    transition: opacity 0.3s;
}

.serversList {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-top: -6px;
}
